<app-nav-bar></app-nav-bar>
<h1>{{title}}</h1>

<!-- Testing Buttons -->
<!-- <app-login-button></app-login-button>
<app-signup-button></app-signup-button>
<app-logout-button></app-logout-button>
<app-authentication-button></app-authentication-button> -->





<h2>User Detail</h2>  

<h1>Member Detail</h1>  
<ul>  
  <li *ngFor = "let i of User">  
    {{i.name}} ----- {{i.username}} ------ {{i.id}} ---- {{i.email}} 
  </li>  
</ul> 
<div class ="form-group">
<p id="quoteSpace" ></p>
<form id="testUserEntry">
  <textarea id="userInput"></textarea>
</form>
</div>

<button (click)="GenerateTest()" class="btn btn-sucess">Start Test</button>
<router-outlet></router-outlet>
