
<div class="root_container" >
    <main class="main_container">
      <app-nav-bar></app-nav-bar>
        <div class="main-container_bg"></div>
        <router-outlet></router-outlet>
    </main>

    <footer class="main_footer">
        <small class="copyright__text">Copyright © 2021 Kwik Koder</small>
    </footer>
</div>



<!-- <aside class="pop-menu_container" [ngClass]="{'pop-menu_container-active': showMenu}" (click)="displayMenu()">
  <nav class="pop-menu" [ngClass]="{'pop-menu-active': showMenu}" (click)="$event.stopImmediatePropagation();">
    <div *ngIf="auth.user$ | async as user"> 
      <section class="menu-header">
          <span class="greeting_text">Welcome Back</span>
          <div class="profile-image_container">
              <img [src]="user.picture" alt="profile-image"
                  class="profile_image">
          </div>
          <div class="account-details">
              <span class = "profile_link">Account</span>
              <span class="name_text">{{user.name}}</span>
              <span class="email_text">{{user.email}}</span>
          </div>
      </section>
      <section class="menu-body">
        <ul class="menu_list">
          <li>Statistics</li>
          <li>Leaderboards</li>
          <li>Competitions(Not Yet Implemented)</li>
          <li>
            <a href="test">Take a Test</a>
          </li>
          
        </ul>
      </section>
      <section class="menu-footer">
  
      </section>
    </div>
  </nav>
</aside> -->
        <!-- <header class="main_header">
  
          <div class="top_bar">
            <svg (click)="displayMenu()" class="menu_icon">
                <rect width="45" height="6" y="20"></rect>
                <rect width="45" height="6" y="30"></rect> 
                <rect width="45" height="6" y="40"></rect>  
            </svg>
  
          <a class="logo_icon">
              <img src="https://api.freelogodesign.org/files/610f46969ca84d6aa71e0ef605b9caeb/thumb/logo_200x200.png?v=637589090550000000" alt="logo"/>
          </a>

          <ul class="login_container">
            <li>
              <a href="test">Take a Test</a>
            </li>
            <li>
              <a href="profile">Profile</a>
            </li>
            <li>
              <a href="competitions">Competitions</a>
            </li>
            <li>
              <a href="leaderboard">Leaderboards</a>
            </li>
            <li>
              <app-authentication-button></app-authentication-button>
            </li>
          </ul> 
          </div>
      </header> -->


