<div class="">
    <div>Competition Name</div>
    <input type="text" placeholder="Enter competition name" [(ngModel)]= "name">
</div>
<div>
    <label for="comp-start">Competition start:</label><br>
    <input type="datetime-local" id="comp-start"
       name="comp-start" [(ngModel)]="startDate" max="{{endDate}}">
</div>
<div>
    <label for="comp-end">Competition end:</label><br>
    <input type="datetime-local" id="comp-end"
       name="comp-end" [(ngModel)]="endDate" min="{{startDate}}">
</div>
<div class="">
    <div>Category</div>
    <app-lang-select (newLangSelectedEvent)="langSelected($event)"></app-lang-select>
    <button class="kwik-btn" (click)="newSnippet()">New Snippet</button>
</div>
<div class="col-12">
    <div>Snippet:</div>
    <pre contenteditable="true" [(ngModel)]="snippet" class="text-light bg-dark p-1" ngDefaultControl>{{snippet}}</pre>
</div>
<button type="button" value="create" (click)="CreateCompetition()">Create</button>{{compId}}
<div *ngIf="compId">
    <span>Competition Link:</span><a href="https://kwikkoder.azurewebsites.net/CompetitionTest/{{compId}}">https://kwikkoder.azurewebsites.net/CompetitionTest/{{compId}}</a>
</div>

