<div class = "container">
    <table class = "table">
        <thead>
            <th>Category</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
        </thead>
        <tbody>
            <ng-container *ngFor="let model of CompModels;" >
                <tr [routerLink]="['/CompetitionTest',model.compId]">
                    <td>{{model.category | displayCategory}}</td>
                    <td>{{model.name}}</td>
                    <td>{{model.start | displayDate}}</td>
                    <td>{{model.end | displayDate}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

