<div class = "container">
    <table class = "table">
        <thead>
            <th>Category</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
        </thead>
        <tbody>
            <tr *ngFor="let CompModel of CompModels;">
                <td>{{CompModel.Category}}</td>
                <td>{{CompModel.Name}}</td>
                <td>{{LBModel.Start}}</td>
                <td>{{LBModel.End}}</td>
            </tr>
        </tbody>
    </table>
</div>

